@model FM.Portal.Core.Model.Product
@{
    ViewBag.Title = Model.Title;
    var pic = (List<FM.Portal.Core.Model.Attachment>)ViewBag.pic;
}
@section Head{
    <meta itemprop="name" name="twitter:title" property="dc.title" content="@Model.Title">
    @*<meta name="description" property="dc.description" content="@Model.MetaDescription">
        <meta property="og:type" content="product">
        <meta property="product:modified_time" content="@Model.UpdatedDate">
        <meta name="keywords" property="product:tag" content="@Model.MetaKeywords">
        <meta property="nastooh:publishDate" content="@Model.CreationDate.ToString("yyyy-MM-dd")">
        <meta property="og:title" itemprop="headline" content="@Model.MetaTitle">*@
}
@section bodySection{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.RouteUrl("Home")">خانه</a></li>
            <li class="breadcrumb-item"><a href="#">آگهی</a></li>
            <li class="breadcrumb-item active">@Model.Title</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        @Html.Partial("~/Views/product/_PartialCarousel.cshtml", pic)
                    </div>
                    <div class="col-lg-6 col-md-12">
                        @Html.Partial("_PartialFeatures", Model)
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        @Html.Partial("_PartialMain", Model)
                    </div>

                </div>
            </div>
        </div>
    </div>
}
