@model Comment
<div>
    <!--begin form-->
    @using (Ajax.BeginForm("Modify", "Comment", new AjaxOptions { HttpMethod = "POST", OnSuccess = "AddComment.onSuccess", LoadingElementId = "loadingMessage", LoadingElementDuration = 300 }, new { @class = "form-horizontal", id = "frmCommentReply" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("ParentID", ViewBag.ParentID as string)
        @Html.Hidden("DocumentID", ViewBag.DocumentID as string)
        @Html.Hidden("CommentForType", ViewBag.CommentForType as string)
        <div class="form-group">
            <label class="control-label">نظر خود را وارد نمایید</label>
            <div class="col-md-12">
                @Html.TextAreaFor(c => c.Body, new { @class = "form-control", cols = "10", placeholder = "دیدگاه خود را بنویسید ...." })
                @Html.ValidationMessageFor(c => c.Body, null, new { @class = "text-danger" })
            </div>
        </div>
        <button type="submit" class="btn btn-success pull-left">ارسال</button>
    }
    <div class="clearfix"></div>
    <div id="addCommentResult" class="text-center mt-3"></div>
    <!--end form-->
    <div class="clear"></div>
</div>