@model FM.Portal.Core.Model.News
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodySection{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.RouteUrl("Home")">خانه</a></li>
            <li class="breadcrumb-item"><a href="@Url.RouteUrl("News")">خبرها</a></li>
            <li class="breadcrumb-item active">@Model.Title</li>
        </ol>
    </nav>
    <article class="card">
        <div class="card-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">کد خبر : </label> <label class="control-label">@Model.TrackingCode</label> -
                        <label class="control-label">تاریخ انتشار :</label> <label class="control-label">@FM.Portal.Core.Common.Helper.GetPersianDay(Model.CreationDate) - @FM.Portal.Core.Common.Helper.GetPersianMonthName(FM.Portal.Core.Common.Helper.GetPersianMonth(Model.CreationDate)) - @FM.Portal.Core.Common.Helper.GetPersianYear(Model.CreationDate)</label>
                        <label class="control-label pull-left">
                            <i class="fa fa-clock-o"></i>
                            <span>تخمین مدت زمان مطالعه خبر: </span>
                            <span>@Model.ReadingTime</span>
                        </label>
                    </div>
                    <div class="col-md-12"><h4 class="card-title">@Model.Title</h4></div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-secondary" role="alert">
                <div class="alert-heading">
                    <p>@Model.Description</p>
                </div>
                <hr />
                <p class="mb-0">@Html.Raw(Model.Body)</p>
            </div>
        </div>
        @if (Model.Tags != null && Model.Tags.Count > 0)
        {
            <div class="card-footer">
                <label>برچسب ها :</label>
                @{
                    var lastitem = Model.Tags.Last();
                    foreach (var item in Model.Tags)
                    {
                        if (item != lastitem)
                        {
                            <a href="@Url.RouteUrl("Tag",new { Name= item.Replace(" ", "_")})">@item</a> @:|
                        }
                        else
                        {
                            <a href="@Url.RouteUrl("Tag",new { Name= item.Replace(" ", "_")})">@item</a>
                        }

                    }
                }
            </div>
        }
    </article>
    <section class="card">
        <div class="card-header">
            <h5 class="card-title">
                <i class="fa fa-comments-o"></i>
                دیدگاه ها
            </h5>
            <div class="card-body">
                @Html.Action("Index", "Comment", new { DocumentID = Model.ID, State = "News" })
            </div>
        </div>
    </section>
}
